html,
body {
    margin: 0 auto;
    text-align: center;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1160px;
    }
}

.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}
.content {
    width: 100%;
    font-family: 'Montserrat', sans-serif;

}

.section1 {
    background: url(../image/section-1.jpg) no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;
    height: 1012px;
    margin-left: fill;
}

#header {
    width: 100%;
    margin: 0 auto;
    height: 120px;
    background-color: rgba(0,0,0,0.5);
}
.top-menu {
    display: flex;
    justify-content: space-between;
}
.navbar-logo {
    font-size:40px;
    color: white;
    text-decoration: none;
    opacity: 1;
    align-items: baseline;

}

.navbar-logo>span {
    color: #18cfab;
    font-weight: bolder;
    opacity: 1;

}

.navbar-logo>img {
    top:20px;
    position: relative;
}

.navbar-logo::before {
    content: "H";
    font-size: 45px;
    font-weight: bold;
    top: 29px;
    color: white;
    position:absolute;
    z-index: +1;
    padding-left: 11px;
}

.menu-main {
    opacity: 0.5;
    align-self: center;
 }

.menu-main li {display: inline-block;}

.menu-main a {
    text-decoration: none;
    display: block;
    position: relative;
    line-height: 73px;
    padding: 6px;
    font-size: 13px;
    letter-spacing: 1px;
    font-family: 'Arimo', sans-serif;
    font-weight: bold;
    color: white;
    transition: color .2s;
}
.menu-main a, .menu-main a:visited {
    color: white
}

.menu-main a.current, .menu-main a:hover {
    color: #18cfab
}

.menu-main a:before,
.menu-main a:after {
    content: "";
    position: absolute;
    height: 4px;
    top: auto;
    right: 50%;
    bottom: -5px;
    left: 50%;
    background: #18cfab;
    transition: .5s;
}

.menu-main a:hover:before, .menu-main .current:before {
    left: 0;
}

.menu-main a:hover:after, .menu-main .current:after {
    right: 0;
}

.p1 {
    text-align: center;
    margin-top: 240px;
    font-size: 35px;
    color: white;
    font-weight: bold;
}

.p1 span {
    color:  #18cfab;
}

.p2 {
    text-align: center;
    font-size: 70px;
    color: white;
    font-weight: bold;
    margin: 40px 0 40px 0;
}

.p3 {
    text-align: center;
    font-size: 30px;
    font-weight: lighter;
    color: rgba(212, 212, 212, 255);
    margin-bottom: 140px;
}

a {
    text-decoration: none;
}

.buttons {
    display: flex;
    width: 380px;
    justify-content:space-between;
    align-self: center;
    margin: 0 auto;
}

.btn1 {
    width: 166px;
    height: 35px;
    background-color: #18cfab;
    border-radius: 5px;
    color: white;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
    border-top: 3px solid #ffffff;
}

.btn1:hover {
    transition: .5s;
}

.btn2 {
    width: 166px;
    height: 35px;
    background-color: #00cbf6;
    border-radius: 5px;
    color: white;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
    border-top: 3px solid white;
}

.purchase-btn {
    width: 166px;
    height: 35px;
    background-color: #00cbf6;
    border-radius: 5px;
    color: white;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
    margin: 0 auto;
    border-top: 3px solid white;
}

.blocks-container {
    display: flex;
    flex-direction: row;

}
.block {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 25%;
    font-size: 20px;
}
.grey-block{
    background-color: #1c2a33;
    color: #18cfab;
    text-align: center;
    border-top: 7px solid #18cfab;
    padding: 90px 0 120px 0;
}


.green-block{
    background-color: #18cfab;
    color: white;
    text-align: center;
    border-top: 7px solid #ffffff;
    padding: 110px 0 120px 0;
}

.grey-block>img{
    padding-bottom: 36px;
}

.green-block>img {
    padding-bottom: 36px;
}


h2 {
   text-align: center;
    font-size: 36px;
    padding: 40px;
    font-weight: lighter;
    letter-spacing: 2px;
    color: rgba(78, 78, 78, 255);
    margin-bottom: 0;
}

ul {
    list-style: none;
    padding-left: 0;
}

.lines{
    margin: 0 auto;
    height: 20px;
    width: 100px;
    color: #18cfab ;
    padding-bottom: 50px;
}

.lines .line1:after {
    content: "_____________";
    color: #16ba99;
}

.lines .line2{
    margin-top: -12px;
}

.lines .line2:after {
    margin-left: 15px;
    content: "_____________";
}

.centered-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pctr1 {
    float: left;
    margin-right: 30px;
}
.tabs {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
   }

.tabs li {
    border: 1px solid #e1e1e1;
    transition: all .5s ease-in-out;
}

.tabs:after {
    content: '';
    display: table;
    clear: both;
}

.tabs__content {
    display: none;
    padding: 15px 15px;
}
.txt1 {
    text-align: justify;
}
.tabs__content.active {
    display: block;
}

.tabs-title.active::after {
    content: '';
    position: absolute;
    display: block;
    margin-left: 80px;
    margin-top: 30px;
    border-top: 12px solid #18cfab;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
}

.tabs-title {
    text-align: center;
    padding-top: 23px;
    background-color: rgba(148, 211, 190, 0.19);
    color: rgba(67, 67, 67, 0.82);
    cursor: pointer;
    width: 190px;
    height: 50px;
}

.tabs-title.active {
    background-color:#18cfab ;
    color: white;
}

.section2 {
    background: url(../image/section-2.jpg) no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 475px;
    width: 100%;
}

.buy-section {
    margin: 0 auto;
}

.p4 {
    padding-top: 120px;
    color: #18cfab;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

.p5 {
    text-align: center;
    padding-bottom: 70px;
    color: rgba(216, 216, 216, 255);
}

.ul {
    list-style: none;
    padding-left: 0;

}


.centered-content2 {
    width: 100%;
    background-color: #f8fcfe;
}

.btn {
    border: 1px solid lightgrey;
    padding:0;
    line-height: 2.5;
    background-color: white;
}

.btn:hover {
    color: #18cfab ;
    border-top: 1px solid #18cfab;
    transition: .5s;
}

.btn.active {
    color: #fff;
}

.row {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.white-cover {
    flex-direction: column;
    align-items: center;
    background-color: #f8fcfe;
    border-top: 1px solid #1acca9;
    position:absolute;
    overflow: hidden;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: .5s;

}
.item {
    position: relative;
    width: 25%;
    margin: -4px;
}


.white-cover:hover{
    opacity:1;
    transition: .5s ease-in-out;
}

.sub-title1 {
    font-size: 20px;
    color: #18CFAB;
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
}

.sub-title2 {
    font-size: 18px;
    color: #8A8A8A;
    text-align: center;
    margin-top: 10px;
}

.white-cover-icons {
    position: center;
    margin-top: 45px;
}

.inner1 {
    position: absolute;
    left:0;
    right: 45px;
    margin-top: 12px;
}

.inner2 {
    position: absolute;
    right: 115px;
    margin-top: 12px;
}

.tabs2 ul li {
    display: inline-block;
    list-style: none;
    padding: 10px 15px;
    cursor: pointer;
    transition: all .5s ease;
    margin: -3px
}

.tabs2:after {
    content: '';
    display: table;
    clear: both;
}

.tabs__content2 {
    display: none;
    padding: 15px 15px;

}
.tabs__content2.active {
    display: block;
}

.tabs-title2 {
    text-align: center;
   row-gap: unset;
    color: rgba(67, 67, 67, 0.82);
    cursor: pointer;
}

.tabs-title2.active {
    color: #18cfab ;
}

.mainContent {
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
}

.card {
    text-decoration: none;
    box-sizing: border-box;
    margin-top: 30px;
    position:relative;
}

.card>a>p {
    color: black;
    text-decoration:none;
    position: absolute;
    margin-top: 220px;
    left:25px; right:80px
}

.card>a>img {
    float: right;
    margin-right: 20px;
}

.rectangle {
    width: 68px;
    height: 66px;
    background-color: #203e38;
    position:absolute;
    right: 20px;
    opacity: 1;

}
.rectangle>span {
    color: white;
    position: absolute;
    text-align: center;
    font-size: 16px;
    letter-spacing: 2px;
    right: 8px;
    top:15px;
}

.bottomblock {
    border: 1px solid #e5e5e5;
    width: 247px;
    height: 72px;
    background-color: #f8fcfe;
    padding-top: 208px;
    padding-left:15px;
}

.bottomblock>a {
    text-decoration: none;
    color: rgba(113, 113, 113, 255);
    font-weight: bold;
    font-size: 18px;

}
.bottomblock>a>p>span {

    font-weight: lighter;
    font-size: 14px;
    letter-spacing: 2px;
}

.card:hover .bottomblock>a {
    color: #18cfab;
}

.card:hover .rectangle {
    background-color:  #18cfab;
}

.section3 {
    margin-top: 100px;
    background: url(../image/section-3.jpg) no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 852px;
    background-size: cover;
}

.title3 {
    color: #FFFFFF;
    padding-top: 100px;
}

.decor {
    text-align: center;
}

.text3 {
    padding-top: 50px;
    color: white;
    font-size: 16px;
    text-align: center;
    font-family: sans-serif;
    font-weight: lighter;
}
.slick-quote {
    margin-top: 200px;
    color: white;
    text-align: center;
}

.slick-image {
    border: 2px solid  #18cfab;
    border-radius: 50%;
    margin: 0 auto;
}
.masonry-wrapper {
    padding: 1em;

    margin-right: auto;
    margin-left: auto;
}
.masonry {
    columns: 1;
    column-gap: 10px;
}
.masonry-item {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 15px;
}
.masonry-cover {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    opacity: 0;
    margin-top: -263px;
}
.masonry-cover:hover {
    opacity: 1;
}
.btn-search {
    width: 42px;
    height: 40px;
    background-color: #14b9d5;

}
.btn-arrow {
    width: 42px;
    height: 40px;
    background-color: #14b9d5;

}
.masonry-link {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 35%;

}

@media only screen and (max-width: 1023px) and (min-width: 768px) {  .masonry {
    columns: 3;
}
}
@media only screen and (min-width: 1024px) {
    .masonry {
        columns: 3;
    }
}
.masonry-item {
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, .3));
    transition: filter .25s ease-in-out;
}
.masonry-item:hover {
    filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, .3));
}

.masonry-content1 {

    width:119px;
}
.masonry-hover {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 0;
    box-sizing: border-box;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    overflow: hidden;
    opacity: 1;
    transition: .5s ease-out;
}
.masonry-link {
    display: flex;
    justify-content: space-between;
    width: 100px;
}
.square-btn {
    padding: 10px 15px;
    border-radius: 3px;
    background-color: #14b9d5;
    color: #ffffff;
    transition: .5s;
}

.load-btn {
    width: 165px;
    height: 60px;
    background-color: #18cfab;
    border-radius: 5px;
    margin: 55px auto;
    color: white;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    align-items: center;
    transition: .5s;
}

.load-btn:before {
    content: "+ ";
    font-size: 30px; margin: 0 20px;

}
/*.load-btn>span {*/
    /*font-weight: bold;*/
    /*font-size: 25px;*/

/*}*/
.footer {
    height: 70px;
    background-color: #22353f;
    color: rgba(174, 174, 174, 255);
    font-size: 14px;
    text-align: center;
    margin-top: 50px;
    padding-top:40px;

}

.footer>p>span {
    color: #18cfab;
}
